.product-container {
  width: 361px;
  margin: 0 auto;
  background-color: beige;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    width: 90%;
    height: 1232px;
  }
}
