.nav-wrapper{
    width: 393px;
    padding: 5px;
}

.top-nav {
  width: 100%;
  text-align: center;
  padding: 16px;
  height: 50px;
  background-color: rgba(232, 57, 75, 1);
  line-height: 18.2px;
  color: rgba(255, 255, 255, 1);
}

.nav-container {
  width: 361px;
  display: flex;
  gap: 100px;
  margin: 10px auto;
}
span {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.shop {
  margin-right: 5px;
}
.logo {
  width: 200px;
  display: flex;
  gap: 12px;
  align-items: center;
}
.search {
  width: 330px;
  height: 36px;
  display: flex;
  align-items: center;
  border-radius: 300px;
  padding: 7px, 14px;
  margin: 5px auto;
  border: 1px solid;
}
.search-icon {
  width: 20px;
  height: 20px;
}
