.section-wrapper {
  font-size: 12px;
  background-color: rgba(255, 253, 245, 1);
  width: 393px;
  height: 234px;
  padding: 40px 16px;
}

.search-container {
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 10px auto;
}
.input {
  width: 200px;
  height: 45px;
  border-radius: 300px;
  border: 1px solid;
}

@media screen and (min-width: 768px) {
  .section-wrapper {
    width: 100%;
  }

  .section-container{
    display: flex;
  }
}
